@import url('./sidebar.css');
@import url('./header.css');

body {
    background-color: #F0F2F5;
}

/* Navbar */

/* Logo  */
.logo-area {
    max-width: 40px;
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.logo-area .logo {
    max-width: 40px;
}

/* Search field  */
.search-field.form-control {
    border-radius: 10px;
    border: none;
    background: #EFEFEF;
}

.user-name h4 {
    font-size: 16px;
}

/* Navbar */